
/*******************  GENERAL FORMATTING  **********************/

/*          Body Formatting         */

body {
    text-align: center;
    font-family : "Arial";
    background-color: #e5f2ff;
    font-family: "serif", "Times New Roman";
    margin:0
}

body, html{
    height: 100%;
    margin:0px;
}

/*          Footer         */

footer {
    background-color: #272635;
    float: bottom;
    margin: 0px;
}


/*******************  BUTTONS  **********************/

/*          Buttons         */

.buttons {
    border-radius: 15px;
    border-color: transparent;
    background-color: transparent;
}

.buttons a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-size:17px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word; 
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    background-color: #272635;
    padding: 20px;
}

.buttons a:hover{
  color: white;
    margin: 10px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-size:17px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word; 
  display: flex;  
  flex-wrap: wrap;
  align-items: center;
    background-color: #3A384F;
    padding: 20px;
}



/*******************  NAVIGATION  **********************/

ul.nav {
    background-color: #272635;

    list-style-type: none;
    margin-top: 0px;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 500;
    padding: 9px, 12px;
}

li.nav {
    display: block;
    float: left;
    background-color: #272635;
    color: white;
    font-family: "serif", "georgia";
}

/*          Hovering         */

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #2F2D3F;
}

/*          Active Navigation Tab         */

.activeNav {
    background-color: #3A384F;
    padding-bottom: 2px;
}

/*          Anna Zhang Title        */

li.home {
    background-color: #272635;

    display: block;
    float: left;
    color: white;
    font-family: "serif", "georgia";
    font-family:cursive;
    font-size:14px
}

li.home a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.home a:hover {
    background-color: #2F2D3F;
}

/*******************  SLIDESHOW GALLERY  **********************/

.mySlides {display:none}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.image {
  width: 100%;
}

.slides {
  width:40%; 
  margin-left:5%;
  margin-right:5%;
  border:none
}


/*******************  PORTFOLIO  **********************/

/*          Portfolio Specific Columns         */

.portfolio {
  border-radius: 5px;
  border-style: ridge;
  width:25%;
  margin-left: 5%;
  border-style: ridge;
  font-size:20px;
}

/*          Portfolio Accordion         */

div.accordion {
  width:65%;
  border:none;
  border-width: 0px;
}

button.accordion {
    background-color: #E5F2FF;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width:  90%;
    text-align: center;
    border: solid;
    border-width: 1.25px;
    border-color:#7a7a7a;
    outline: none;
    transition: 0.4s;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

button.accordion.active, button.accordion:hover {
    background-color: #C1DEFF;
}

/*          Panels         */

.panel {
    background-color: #EDF6FF;
    padding: 0 18px;
    margin-left:5%;
    margin-right:5%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size:18px;
}


/*******************  HERO IMAGES/TEXT  **********************/

/*          Home Page Hero Image         */

.hero-image {
    background-image: linear-gradient(rgba(39,38,53, .75), rgba(39,38,53, 0.3), rgba(39,38,53, 0.3), rgba(39,38,53, .7)), url("images/heroimage.jpg");
    height: 90%;
    font-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    filter: blur(2px);
  -webkit-filter: blur(2px);
}

/*          Home Page Hero Text         */
.hero-text {
    opacity: 1;
    text-align: center;
    position: absolute;
    top: 45%;
    left:20%;
    right: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
}

/*          Home Page Hero Text for "Zhang"        */

.hero-text-zhang {
    opacity: 1;
    text-align: center;
    position: absolute;
    top: 60%;
    left:19%;
    right: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
}

/*          Home Page Hero Text for Descriotion on the Right         */

.hero-text-right {
    opacity: 1;
    left:50%;
    text-align: center;
    position: absolute;
    top: 55%;
    left:75%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
}

/*          Header Hero Text         */

.hero-text1 {
    opacity: 1;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 15px;
}

/*          Header Hero Image         */

.hero-image1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/poppies.jpg");height: 45%;
    font-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;

}


/*******************  SOCIAL MEDIA ICONS  **********************/

.fa {
    padding: 10px;
    font-size: 20px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  font-size: 30px;
  color: white;
}

.fa-instagram {
  background: linear-gradient( to bottom right, #990099, #e600ac, #ffb31a,#ffcc00);
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


/*******************  COLUMNS AND ROWS  **********************/

.column {
    float: left;
    padding: 10px;
    border: none;
}

.resgit {
  width:50%;
  padding: 10px;
  border-style: ridge;
  height: 800px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.columnClear {
    float: left;
    margin: 5%;
    margin-top:0px;
    background-color:transparent;
    border:none;
    width:60%;
    font-size:18px;
}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
    .columnClear {
        width:100%;
    }
}


/*******************  SPECIFIC STYLING  **********************/

/*          Word Outline Effect         */

.wordoutline {
  color: #fff;
  text-shadow: #000 2px 1px 1px;
}

/*          Make My Name Pop on Home Page         */

.name {
    text-align: center
    margin-top: auto;
    margin-bottom: 5px;
    text-decoration: bold;
    font-size: 90px;
    color:  white;
    font-family: "Monospace", "Courier New";
}

/*          Header Styling         */

.header {
    margin-top: auto;
    margin-bottom: 5px;
    text-decoration: bold;
    font-size: 50px;
    color:  white;
    font-family: "Monospace", "Courier New";
}

/*          Credits Styling         */

.credits {
    text-align: left;
    font-size: 15px;
    color:white;
}

/*          Dot Tech Sponsorship Styling         */

.dottech {
  height:40px;
  float:right;
  padding-right:40px;
  padding-top:8px;
}

/*          Titles of My Various Interests        */

.interestTitle {
    font-size:50px;
    color: black;
    margin-bottom: 0px;
    text-decoration: underline;
}

/*          Left Alignment       */
.leftalign {
  text-align: left;
}

