/******************** GENERAL ***************/
.center-text {
	text-align: center;
}

/* general padding, spacing, and colors */
.section {
	width: 100%;
	padding: 5%;
	padding-left: 15%;
	padding-right: 15%;
	background-color: white;
	color: black;
}

/* section heading */
.section-heading {
	margin-bottom: 40px;
}

/* body background color */
body {
	background-color: #f8f8ff;
}
html {
	scroll-behavior: smooth;
}

/* adding shadows to the buttons */
.shadow {
	box-shadow: 5px 10px 10px #888888;
}

/* links */
a:hover {
	text-decoration: none;
}

/* full width images */
.full-img {
	width: 100%;
}

/********** SOCIAL MEDIA ICONS ************/
.fa {
	padding: 15px;
	font-size: 30px;
	width: 50px;
	height: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 18px;
	border: 2px solid white;
	border-radius: 50%;
	color: white;
}

.fa:hover {
	opacity: 0.7;
	color: white;
	text-decoration: none;
}

/*************** FLEXBOX  TOOLS ************/

/* variants on containers */
.my-container {
	display: flex;
	align-items: center;
	align-content: space-around;
}

/* different ways to justify content */
.space {
	justify-content: space-around;
}

.between {
	justify-content: space-between;
}

.center {
	justify-content: center;
}

/* set flex direction  */
.column-dir {
	flex-direction: column;
}

.row-dir {
	flex-direction: row;
}

/* align items  */
.top-align {
	align-items: start;
}

.stretch {
	align-items: stretch;
}

/* linear-gradient(rgba(109, 109, 109, 0.3), rgba(109, 109, 109, 0.3)),  */
/***************** HOME PAGE ****************/
.hero-img {
	width: 100%;
	background-image: linear-gradient(rgba(109, 109, 109, 0.3), rgba(109, 109, 109, 0.3)), url("images/heroimage.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	padding: 0px;
	background-position: center;
	background-size: cover;
}

/************** NAV BAR  ********************/
/* general nav bar layout / padding */
.navbar {
	padding: 23px 50px 10px 50px;
	color: white;
}

/* general header (e.g. coloring, position ) */
.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

/* button to toggle menu in mobile */
.navbar-toggler {
	border-width: 3px;
	border-radius: 5px;
}

/* links in nav bar */
.links {
	height: auto;
	display: flex;
	float: right;
	text-decoration: none;
}

/* list of nav items */
li.nav {
	padding: 0 30px;
}

/* colors and fonts of nav links */
.navbar-dark .navbar-nav .nav-link {
	font-size: 17px;
	color: #f8f8ff;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 22px;
	text-shadow: 1px 1px 20px #272635;
	padding-left: 25px;
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: white;
	text-decoration: none;
}

.navbar-dark .navbar-toggler {
	border-color: white;
	border-width: 2px;
}
